html, body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#player-ui {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: Arial, sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}
.enemy-health-bar {
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: red;
  border: 1px solid black;
}
.enemy-health-bar .health {
  height: 100%;
  background-color: green;
}

#chat-log {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 300px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: Arial, sans-serif;
  padding: 10px;
  border-radius: 5px;
  overflow-y: auto;
  z-index: 1000;
}
#chat-messages {
  display: flex;
  flex-direction: column;
}
.message {
  margin-bottom: 5px;
}
.player-message {
  color: #00ff00; /* Green for player */
  text-align: left;
}
.agent-message {
  color: #ffaa00; /* Orange for agent */
  text-align: left;
}